<div class="container-fluid">
    <div class="row">
        <div class="col-1 spacing"><!-- spacing --></div>
        <div class="col-4 left menu" id="left-menu">
            <div>
                <h3>Burger Menu</h3>
                <ul id="left-ul">
                {{#each burgers}}
                   {{#unless devoured}}<li>The {{{burger_name}}}<button data-id="{{{id}}}" class="devour">Devour</button></li>{{/unless}}
                {{/each}}
                </ul>
            </div>            
            <div class="dropshadow"></div>
        </div>
        <div class="col-2 spacing"><!-- divider --></div>
        <div class="col-4 right menu" id="right-menu">
            <div>
                <h3>Burgers I've Tried</h3>
                <ul id="right-ul">
                {{#each burgers}}
                   {{#if devoured}}<li>The {{{burger_name}}}</li>{{/if}}
                {{/each}}
                </ul>
            </div>
            <div class="dropshadow"></div>
        </div>
        <div class="col-1 spacing"><!-- spacing --></div>
    </div>
    <div class="row">
        <div class="col-3 spacing"></div>
        <div class="col-6 submission-form">
            <form method="POST" id="user-subs">
                <h3>Got suggestions?</h3>
                <h4>We'd love to hear them!</h4>
                <label for="new-burger">New Burger:</label>
                <input id="new-burger" type="text" maxlength="15"><input type="submit"></form>
            <div class="dropshadow"></div>
        </div>
        <div class="col-3 spacing"></div>
    </div>
</div>





{{!-- 
//     * Create a button in `index.handlebars` that will submit the user input into the database. --}}